@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url(./../fonts/Modam/Modam-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-ExtraBlack.ttf) format('truetype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Heavy.ttf) format('truetype');
    font-weight: 850;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url(./../fonts/iransans/IRANSansX-UltraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

/*num*/
@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-ExtraBlack.ttf) format('truetype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Heavy.ttf) format('truetype');
    font-weight: 850;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansXFaNum';
    src: url(./../fonts/iransans/IRANSansXFaNum-UltraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}


.font-iransans{
    font-family: 'IRANSansXFaNum', IRANSansX, sans-serif; /* Ensure the font for numerals is specified */
}
.font-modam{
    font-family: Modam, sans-serif;
}