@import './icon/regular.css';
@import './icon/solid.css';
@import './icon/light.css';
@import './icon/fontawesome.css';
@import './font.css';
.custom-gradient{
  background: linear-gradient(90deg, #f7f9fa 0%, #dce3ec 100%);
}
.default-blog-img-height{
  .default-blog-img-height {
    @apply 2xl:h-[284px];
    @apply xl:h-[256px];
    @apply lg:h-[228px];
    @apply md:h-[200px];
    @apply sm:h-[172px];
    @apply h-[144px];
  }
}
body {
  direction: rtl;
  font-family: 'IRANSansXFaNum', IRANSansX, sans-serif;
  background: linear-gradient(90deg, #f7f9fa 0%, #dce3ec 100%);
  @apply h-full;
}
.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}
.menu.has-border {
  li {
    &.active {
      @apply relative flex;
      &::after {
        content: '';
        @apply absolute bg-primary rounded-full;
        @apply top-0 right-0 left-auto w-[2px] h-1/2 translate-x-0 translate-y-1/2;
        @apply lg:bottom-0 lg:w-1/2 lg:h-[2px] lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:top-auto;
      }
    }
  }
}
.breadcrumbs {
  ul {
    li {
      @apply text-secondary/80;
      &.active {
        @apply text-secondary;
      }
    }
  }
}
.btn {
  @apply rounded-2xl;
}
.divider-2 {
  @apply hidden lg:flex h-1/3 w-[2px] items-center justify-center bg-secondary rounded-full;
}
